/*  Mass Reset */
*{ margin: 0; padding: 0; border: 0; 
	font-family: 'Arial', sans-serif;
	list-style-type: none;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

html {
	height: 100%;
	width: 100%;
	color: gainsboro;
    background: darkslategrey;
}
body {
    background: white;
	min-height: 600px;
}

h1, .h1 {
    font-size: 1.5rem;
}
h2, .h2, h3, .h3 {
    font-size: 1.25rem;
}

a, 
.navbar-light .navbar-nav a.nav-link {
    color: black;
}
p a {
    color: darkslategray;
}
a:hover,
p a:hover,
.navbar-light .navbar-nav a.nav-link:hover {
    text-decoration: underline;
    color: black;
}

#nav-coloring-book {
    color: purple;
}

#headshot {
    max-width: 200px;
}

section.container {
    padding-top: 20px;
    border-top: 1px solid gray;
}

#past-creative-projects p, 
#past-creative-projects section {
	font-size: 0.8rem;
}

iframe,
video {
	display: block;
	width: 98%;
}
iframe#bikeswarm-youtube {
	width: 100%;
    min-height: 500px;
}
#coloring-book iframe {
	background: white;
	height: 700px;
	overflow: scroll;
}
img {
    max-width: 100%;
}

.img-carousel {
	overflow-x: auto;
	display: flex;
	margin-bottom: 8px;
	
}
.img-carousel img {
	width: auto;
	height: 380px;
	margin-left: 0;
	margin-right: 10px;
}
